@page "/resenyas/selectbocadillospararesenyar"
<h3>SelectBocadillosParaResenyar</h3>

<div class="container-fluid">
    <div class="row">
        <p>Aqui se mostrarán los errores</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <p>Aqui se mostrarán los filtros</p>
            </div>
            <div class="row">
                <p>Aqui se mostrarán los bocadillos</p>
            </div>
        </div>
        <div class="col-2">
            <p>Aqui se mostrarán los bocadillos seleccionados</p>
        </div>

    </div>

</div>

@code {

}
